<!-- main.hbs-->

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <header>
      <nav>
        <a class="navAnchors" href="/"><h1>Mugs And Mornings</h1></a>
        <div>
          <a class="navAnchors" href="customers">Customers</a>
          <a class="navAnchors" href="orders">Orders</a>
          <a class="navAnchors" href="order-details">Order Details</a>
          <a class="navAnchors" href="products">Products</a>
          <a class="navAnchors" href="employees">Employees</a>
          <a class="navAnchors" href="suppliers">Suppliers</a>
        </div>
      </nav>
    </header>
    {{{body}}}
    <footer>
      Mugs And Mornings 2023 &copy; Designed and Developed by Alex Cisneros And
      Trey Booritch
    </footer>
  </body>
</html>